* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.Body {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  top: 40vh;
  text-align: center;
  /* border: solid 1px rgb(251, 250, 250); */
}
.Login {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.Box {
  border: solid 2px rgb(255, 255, 255);
  position: relative;
  margin: 0 104px;
  top: 212px;
  border-radius: 3%;
  width: 560px;
  height: 600px;
  background-color: #ffff;
}
.Home {
  position: relative;
  width: 100%;
  height: 100%;
}
.owner {
  /* border:solid 1px blue; */
  display: flex;
  margin-left: 15px;
}
.ownertext {
  position: relative;
  padding-top: 10px;
  width: fit-content;
  height: fit-content;
  /* border: solid 1px khaki; */
}
.mailcontent {
  position: relative;
  display: flex;
  width: 420px;
  height: 120px;
  margin-top: 5px;
  margin-left: 15px;
  /* border: solid 1px green; */
}
.mail_content {
  position: relative;
  margin-left: 25px;
  margin-top: 1px;
}
.Bar {
  width: 100%;
}
.BtnG {
  position: relative;
  width: 228px;
  height: 36px;
  margin: 0 auto;
  /* border: solid 1px violet; */
}
.MailBox {
  position: relative;
  width: 435px;
  height: 200px;
  /* border: solid chartreuse 1px; */
}
.User {
  position: relative;
  width: 425px;
  margin-left: 4px;
  margin-top: 8px;
  display: flex;
  /* border: solid rgb(242, 34, 180) 1px; */
}
.Belone {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-top: 10px;
  /* border: solid rgb(9, 106, 197) 1px; */
}
.chips {
  position: relative;
  width: 330px;
  margin-left: 18px;
  display: block;
  /* border: solid rgb(203, 225, 4) 1px; */
}
.contentBox {
  position: relative;
  width: fit-content;
  height: 120px;
  top: 14px;
  margin-left: 12px;
  /* color: #ee9852; */
  /* border: solid rgb(6, 4, 6) 1px; */
}
.ButtonGroup {
  position: relative;
  display: flex;
  left: 116px;
  width: 250px;
  height: fit-content;
  /* border: solid rgb(242, 34, 180) 1px; */
}
.BtnNosend {
  position: relative;
  left: 10px;
}
.Diacontent {
  position: relative;
  margin: 22px 42px;
  /* border: solid 1px rgb(27, 12, 235); */
}
.DTittle {
  position: relative;
  text-align: center;
  /* border: solid 1px violet; */
}
.BtnGroup {
  display: flex;
}
.BtnNo {
  position: relative;
  margin-left: 12px;
  margin-right: 0;
}
.Alert {
  position: relative;
  margin-top: 12px;
}
.ButtonDeleteandMail {
  position: relative;
  display: flex;
  padding: 2vh 0;
  margin-left: auto;
  margin-right: 1vw;
  /* border: solid 1px chartreuse; */
}
.MailBtn {
  position: relative;
  margin-left: 16px;
}
.Choosen {
  position: relative;
  display: flex;
}
.ChipData {
  position: relative;
  min-height: 150px;
}
.Loadingpage {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #363f4e;
}
