.App {
  height: 5vh;
  width: 100vw;
  margin: 0 auto ;
  /* border: solid 1px fuchsia; */
}
.Body{
  position: relative;
  width: 50vw;
  height: 30vh;
  margin: 0 auto;
  top: 30vh;
  text-align: center;
  /* border: solid 1px black; */
}
.Tittle{
  position: relative;
  margin: 2vh auto;
  width: 30vw;
  height: 5vh;
  border: solid 1px rgb(255, 151, 151);
}
.Logo{
  position: relative;
  margin: 1.5vh auto;
  width: 25vw;
  height: 25vh;
  height: fit-content;
  /* border: solid 1px rgb(35, 201, 63); */
}
.Box{
  border: solid 2px rgb(123, 123, 123);
  position: relative;
  margin: 25vh auto;
  border-radius: 3%;
  width: 60vw;
  height: 42vh;
}
.Keyin{
  /* border: solid 2px rgb(215, 130, 130); */
  position: relative;
  margin: 5vh auto;
  width: 50vw;
  height: 20vh;
}
.Account{
  position: relative;
  padding-top: 1vh;
}
.Password{
  position: relative;
  padding-top: 1vh;
}
.ButtonLogin{
  position: relative;
  padding-top: 1vh;
}
.Keeplogin{
  position: relative;
  padding-top: 1vh;
}
.Home{
  position: relative;
  width: 100%;
  height: 100%;
}
.Bar{
  width: 100%;
}
.HomeBody{
  position: relative;
  margin: 2vh 0;
}
.Enter{
  position: relative;
  top: 1px;
  left: 10px;
}
.bachu{
  width: 140px;
  height: 35px;
}
.MailBox{
  position: relative;
  width: 435px;
  height: 210px;
  /* border: solid chartreuse 1px; */
}
.User{
  position: relative;
  margin-left: 10px;
  /* border: solid rgb(242, 34, 180) 1px; */
}
.Message{
  position: relative;
  top: 2vh;
}
.TextBox{
  position: relative;
  width: 425px;
  top: 15px;
  margin-left: 10px;
  /* border: solid rgb(242, 34, 180) 1px; */
}
.MContent{
  position: relative;
  float: left;
  top: 20px;
}
.MText{
  position: relative;
  left: 22px;
  top: 1px;
  width: 380px;
  /* border: solid rgb(242, 34, 180) 1px; */
}
.ButtonG{
  position: relative;
  width: 420px;
  margin-left:5px ;
  height: fit-content;
  /* border: solid rgb(242, 34, 180) 1px; */
}